<div style = "vertical-align: top; width: 45%; display: inline-block; border: 2px solid black;">
    <h2 style= "text-align: center;">Register</h2>
    <partial style= "text-align: center;" name="RegPartial"></partial>

</div>
<div style = "vertical-align: top; width: 45%; display: inline-block; border: 2px solid black;">
    <h2 style= "text-align: center;">Login</h2>
    <partial style= "text-align: center;" name="Logpartial"></partial>

</div>